body {
  height: 100vh;
}

.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  margin: 0;
  padding: 0;
}

.body {
  width: 100%;
  height: 100%;
}

.container {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  height: 85vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: fixed;
  bottom: 0px;
  left: 7.5%;
  right: 7.5%;
}

.project {
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
}

.absolute-text-4,
.absolute-text-5,
.absolute-text-3,
.absolute-text-2,
.absolute-text-1 {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(0%, -50%);
  opacity: 0;
  font-size: 120px;
}

.text-color-1 {
  color: rgb(50, 50, 50);
}

.text-color-2 {
  color: rgb(255, 241, 228);
}

.text-color-3 {
  color: rgb(255, 255, 255);
}

.main-photo {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.photo-slider-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  position: relative;
  width: 100%;
  height: 85%;
}

.progress-slider {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 55%;
  right: 60px;
  transform: translateY(-50%);
}

.slider-item {
  width: 20px;
  height: 2px;
  background-color: rgb(216, 216, 216);
}

.link {
  text-transform: uppercase;
  text-decoration: none;
  color: #1f1f1f;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;

  line-height: 38px;
  letter-spacing: -0.035em;
  white-space: nowrap;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.second-nav-part {
  display: flex;
  gap: 40px;
}

.menu li {
  display: inline-block;
}

.nav-bar {
  /* height: 20%;
  position: sticky;
  top: 0;
  left: 7.5%;
  right: 7.5%; */
  display: flex;
  align-items: center;
  height: 15%;
}
